.btn1{
  background-color: black;
  color: white;
}

.btn2{
  background-color: blue;
}

.btn-custom {
  @apply inline-block text-base text-center decoration-0 align-middle cursor-pointer select-none border rounded border-solid border-transparent py-1 px-3 bg-blue-500 text-white
}

.btn-container{
  @apply border-4 border-black py-10 px-10 hover:border-red-700;
}

.example-block{
  @apply p-[20px] mt-[50px] flex flex-col items-center;
}

.item-block{
  @apply flex flex-col items-center;
}
