<div class="border-4 border-black py-10 px-10 w-20 hover:border-red-700" >
  <button
    class="inline-block text-base text-center decoration-0 align-middle cursor-pointer select-none border rounded border-solid border-transparent py-1 px-3 bg-blue-500 text-white"
  >
    Button
  </button>
</div>

<!-- <div class="btn-container" >
  <button
    class="inline-block text-base text-center decoration-0 align-middle cursor-pointer select-none border rounded border-solid border-transparent py-1 px-3 bg-blue-500 text-white"
  >
    Button
  </button>
</div> -->


<!-- addBase && addUtilities Test -->
<h1 class="my-[50px] hover:content-red">add Base Test</h1>

<!-- matchUtilities && matchComponents Test -->
<div class="py-10 px-5 w-[150px] bg-black text-white border-red-500 matchborderC-ten" >
  <h1>matchUtilities</h1>
</div>
